{% load staticfiles %}
<html>

    <head>
        <title>Chat window</title>
        <link rel="stylesheet" href="{% static 'css/chat_backend_css.css' %}">
</head>

        <!-- We need to add ajax, jquery, custom css and js file -->

<body>
            <div class="chat_window">
                <div class="top_menu">
                    <div class="buttons">
                    </div>
                    <div class="title">Chat Window</div>
                </div>
                <ul class="messages"></ul>
                <div class="bottom_wrapper clearfix">
                    <div class="message_input_wrapper"><input class="message_input" placeholder="Type your message here..." /></div>
                    <div class="send_message">
                        <div class="icon"></div>
                        <div class="text">Send</div>
                    </div>
                </div>
            </div>
            <div class="message_template">
                <li class="message">
                    <div class="avatar"></div>
                    <div class="text_wrapper">
                        <div class="text"></div>
                    </div>
                </li>
            </div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="{% static 'js/reconnecting-websocket.min.js' %}"></script>

            <script>

                var sendMessage = undefined;
                var getMessageText = undefined;
                var message_side = undefined;
                (function () {
                    var Message;
                    Message = function (arg) {
                        this.text = arg.text, this.message_side = arg.message_side;
                        this.draw = function (_this) {
                        return function () {
                            var $message;
                            $message = $($('.message_template').clone().html());
                            $message.addClass(_this.message_side).find('.text').html(_this.text);
                            $('.messages').append($message);
                            return setTimeout(function () {
                                return $message.addClass('appeared');
                            }, 0);
                        };
                    }(this);
                    return this;
                    };
                $(function () {
                    getMessageText = function () {
                        var $message_input;
                        $message_input = $('.message_input');
                        return $message_input.val();
                    };
                    sendMessage = function (text) {
                        var $messages, message;
                        if (text.trim() === '') {
                            return;
                        }
                        $('.message_input').val('');
                        $messages = $('.messages');
                        message = new Message({
                            text: text,
                            message_side: message_side
                        });
                        message.draw();
                        return $messages.animate({scrollTop: $messages.prop('scrollHeight') }, 300);
                    };
                    $('.send_message').click(function (e) {
                        sendToServer(getMessageText());
                        //return sendMessage(getMessageText());
                    });
                    $('.message_input').keyup(function (e) {
                        if (e.which === 13) {
                        //sending message using ajax here
                        sendToServer(getMessageText());
                        //return sendMessage(getMessageText());
                        }
                    });
                    //sendMessage('Hello there! :)');
                    //getting message using ajax here!

                });
            }.call(this));

        var token = "{{token}}";

        var reteriveMessageUrl = "http://52.172.216.40/reterive_message/";

        $.ajax(
            {
                url : reteriveMessageUrl,
                type : "post",
                "datatype" : "json",
                data : {"token" : token},
                success : function(data){
                    //console.log(data);

                    json_data = JSON.parse(data);

                    for(var i=0; i<json_data.length; i++){
                        console.log(json_data[i]);

                        if(json_data[i].fields.user == "web"){
                        //sending to left side
                        message_side = "left";
                        sendMessage(json_data[i].fields.message_text);
                        }
                        if(json_data[i].fields.user == "flock"){
                        //sending to right side
                        message_side = "right";
                        sendMessage(json_data[i].fields.message_text);
                        }

                    }

                }
            }
        );

        var wsUrl = "ws://52.172.216.40/message_port/?token=" + token;
        var chat_socket = new ReconnectingWebSocket(wsUrl);


        function sendToServer(text){
                    chat_socket.send(JSON.stringify({"message":text, "user":"flock", "token": token}))
        }

        chat_socket.onmessage = function (message) {
                    var messageData = JSON.parse(message.data);

                    if(messageData.user == "web"){
                        //sending to left side
                        message_side = "left";
                        sendMessage(messageData.message);
                    }
                    if(messageData.user == "flock"){
                        //sending to right side
                        message_side = "right";
                        sendMessage(messageData.message);
                    }
                }

    </script>

        </body>

</html>